<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
    
      rel="shortcut icon"
      href="../assets/img/logo.jpg"
      type="image/x-icon"
    />
    <title>Jacobiano</title>
  </head>
  <body>
    <h1>Jacobiano</h1>
    <img src="../assets/img/jacobiano.jpg" alt="" width="50%" />
    <p>
      En cálculo vectorial, la matriz jacobiana de una función vectorial de
      varias variables es la matriz cuyos elementos son las derivadas parciales
      de primer orden de dicha función. Tanto la matriz jacobiana como el
      determinante jacobiano reciben su nombre en honor al matemático Carl
      Gustav Jacobi.
    </p>
    <a href="../index.html">Volver</a>
  </body>
</html>
