@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Slab:wght@100;300;400;500&display=swap');
body{
    font-family: 'Roboto Slab', serif;
}
a{
    color: #F9E900;
    font-style: italic;
    font-weight: bold;
    font-size: 13pt;
}
img{width: 100%;}
table{
    border: 12px dashed #F9E900;
    width: 1500px;
    font-size: 12pt;
}
td, th{
    background-color: #4fbd8b;
    padding: 5px;
    text-align: left;
    color: #FFF;
    border: none;
}
td{
    padding: 20px;
}